asgiref==3.11.1
attrs==21.2.0
Automat==20.2.0
Babel==2.8.0
bcrypt==3.2.0
blinker==1.4
certifi==2020.6.20
chardet==4.0.0
click==8.0.3
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
cryptography==3.4.8
distro==1.7.0
Django==5.2.11
httplib2==0.20.2
hyperlink==21.0.0
idna>=2.5
importlib-metadata==4.6.4
incremental==21.3.0
jmespath==1.1.0
Jinja2==3.0.3
jsonpatch==1.32
jsonpointer==2.0
jsonschema==3.2.0
keyring==23.5.0
MarkupSafe==2.0.1
more-itertools==8.10.0
netifaces==0.11.0
oauthlib==3.2.0
packaging==21.3
paramiko==5.0.0
pexpect==4.8.0
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyHamcrest==2.0.2
PyJWT==2.3.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5
python-magic==0.4.24
pytz==2022.1
PyYAML>=6.0
requests>=2.25.1
service-identity==18.1.0
six==1.16.0
sqlparse==0.5.5
Twisted==22.1.0
typing_extensions==4.15.0
urllib3==1.26.5
whitenoise==6.12.0
zipp==1.0.0
